<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ShieldED Notification:</h1>
    <p>A new incident has been submitted by a parent/student from your school:</p>
    <!-- CR make an event partial -->
    <p>Event Details: <%=@event.details%></p>
    <p>Event Submitter: <%=@event.submitter%></p>
    <p>Event Offender: <%=@event.offender%></p>
    <p>Event Location: <%=@event.location%></p>
    <p>Event Date: <%=@event.date%></p>
  </body>
</html>
