<!DOCTYPE html>
<html lang="en">
  <div class ="container">
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});
    </script>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>

      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>

      <div class = "admin-header">

        <div class = "logo-holder">
            <%=image_tag("shield_L-01.png", width: "150", :class => "logo")%>
        </div>

        <div class = "admin-title">
              <h1>Admin Report Detail</h1>
        </div>

      </div>

  </head>

  <body>

      <div class="admin-navbar">
        <ul class = "admin-home-navbar-links">

          <li><a href = "">Search Events</a></li>
          <li><a href = "">Recent Events</a></li>
          <li><a href = "">Reports</a></li>
          <li><a href = "">Support</a></li>
          <li>
            <% if signed_in? %>
              <%= link_to("Logout",logout_path) %>
            <% end %>
          </li>
        </ul>
      </div>


  <div class = "admin-placeholder">
    <div class = "admin-introduction">
      <p>Admin Placeholder</p>
    </div>
      <div class="row" id = "slim">
        <div class="large-12 columns">
          <div id="slider">
            <ul class="orbit" data-orbit>
             <li>
               <div id="pie-chart"></div>
             </li>
             <li class="active">
               <div id="bubble-chart"></div>
             </li>
             <li>
               <%=image_tag("sample.png" )%>
               <img height = "10">
             </li>
            </ul>
          </div>
          <hr/>
  </div>

  <div class = "admin-footer">
    <ul>
      <li><p>Copyright 2014</p></li>
      <li><a href="#" data-reveal-id="myModal">Admin</a></li>
    </ul>
       <div id="myModal" class="reveal-modal" data-reveal>
            <h3>Admin Login</h3>
            <%= form_tag({:controller => 'sessions', :action => 'create'}, { :class => "admin-login-form"}) do %>
              <%= label_tag(:username, "Username: ") %>
              <%= text_field_tag(:username) %>
              <%= label_tag(:password_digest, "Password: ") %>
              <%= password_field_tag(:password_digest) %>
              <p class = "error"><%=session[:error]%></p>
              <%= submit_tag("login", :class => "button [radius button]")  %>
            <% end %>
          <a class="close-reveal-modal">&#215;</a>

        </div>
  </div>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});
    </script>

  </body>
</container>
</html>
<!--***************************************************-->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>

      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>

      <div class = "admin-header">
        <%=image_tag("shield_L-01.png", width: "200", id: "logo")%>
      </div>
      <div class = "title">
        <p>Administration Report Detail</p>
      </div>

  </head>

  <body>

<<<<<<< HEAD
      <div class="row">
        <div class="large-4 columns">
          <div class = 'admin-placehold'>
            <h4>Recent Reports<h4>
              <ul >
                <%@latest.each do |event|%>
                  <li class= "show-event">
                    <%= link_to  "#{event.id}'. '#{event.date} : #{event.details[0..8]}",   show_event_partial_path(event.id), :remote => true%>
                  </li>
                <%end%>
=======
      <div class="admin-container">
          <div class="row">
            <div class="large-7 columns">
            </div>
            <div class="large-9 columns">
              <ul class="right button-group">
                <li><a href="#" class="button">Issue Keys</a></li>
                <li><a href="#" class="button">Archive</a></li>
                <li><a href="#" class="button">Export to CSV</a></li>
>>>>>>> 31ceacbea34d21769c57be5a7f77a755f16afeed
              </ul>
            </div>
          </div>

          <div class="row" id = "slim">
            <div class="large-12 columns">
              <div id="slider">

                <ul class="orbit" data-orbit>
                 <li>
                   <div id="chart-div"></div>
                 </li>
                 <li class="active">
                   <div id="bubble-div"</div>
                 </li>
                 <li>
                   <%=image_tag("sample.png" )%>
                   <img height = "10">
                 </li>
                </ul>

              </div>
              <hr/>
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <div class = 'admin-placehold'>
                <h4>Recent Reports<h4>

                  <ul >
                    <%@latest.each do |event|%>
                      <li class= "show-event">
                        <%= link_to  "#{event.id}'. '#{event.date} : #{event.details[0..10]}",   show_event_partial_path(event.id), :remote => true%>
                      </li>
                    <%end%>
                  </ul>

                </div>
            </div>

          <div class="large-8 columns">
            <div class = 'admin-placehold2'>
              <div class = "admin-search">
                <%= form_tag search_path, :class => "search-form", :method => 'get', remote:true do %>
                <p>
                  <%= text_area_tag :search, params[:search] %>
                  <%= submit_tag "Search Reports",:id => "search", :name => nil %>
                </p>
                <% end %>
              </div>
              <div class="report">
                <a href="#" class="button [tiny small large]" id="button-close">Close Search</a>
                <ul class="search-results"></ul>
              </div>
              <div class="show-event-details">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div class="panel">
              <h4>Alert Support Team.</h4>
              <div class="row">
                <div class="large-9 columns">
                </div>
                <div class="large-3 columns">
                  <a href="mailto:guidance.counselor@gmail.com?Subject=Help%20Student" class="radius button right"> Send Email</a>
                </div>
              </div>
            </div>
          </div>
        </div>



        <footer class="row">
          <div class="large-12 columns">
            <hr/>
            <div class="row">
              <div class="large-6 columns">
                <p>© Team Smashing. Andrew. Ruskin. Anders.</p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="#">Issue Keys</a></li>
                  <li><a href="#">Archive</a></li>
                  <li><a href="#">Export to CSV</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    </div>

    <%= javascript_include_tag "application" %>

  </body>

</html> -->
