<div class="admin-container">
     <div class="row">
    <div class="large-7 columns">
      <h1>Admin Report Detail</h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
      </ul>
     </div>
   </div>


  <div class="row">
    <div class="large-12 columns">
    <div id="slider">
     <ul class="orbit" data-orbit>
       <li>
         <%=image_tag("graph1.png" )%>
           <img height = "15">
       </li>
       <li class="active">
         <%=image_tag("bar-char.png" )%>
           <img height = "15">
       </li>
       <li>
         <%=image_tag("sample.png" )%>
           <img height = "15">
       </li>
     </ul>

    </div>

    <hr/>
    </div>
  </div>



  <div class="row">
    <div class="large-4 columns">
      <div class = 'admin-placehold'>
      <h4>Recent Reports<h4>
        <ul>
          <%@latest.each do |event|%>
            <li>
              <a href><%=event.date%> : <%=event.details[0..15]%></a>
            </li>
          <%end%>
        </ul>
      </div>

    </div>

    <div class="large-8 columns">
      <div class = 'admin-placehold2'>
        <div class = "admin-form">
        <%= form_tag search_path, :method => 'get' do %>
          <p>
            <%= text_area_tag :search, params[:search] %>
            <%= submit_tag "Search Reports",:id => "search", :name => nil %>
          </p>
        <% end %>
          <div>
            <%if @results%>
            <%@results.each do |result|%>
            <p><%=result.details%></p>
            <p><%=result.submitter%></p>
            <%end%>
            <%end%>
          </div>
      </div>
      </div>
    </div>



    </div>


<div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Alert Support Team.</h4>

        <div class="row">
          <div class="large-9 columns">

          </div>
          <div class="large-3 columns">
            <a href="mailto:guidance.counselor@gmail.com?Subject=Help%20Student" class="radius button right"> Send Email</a>
          </div>
        </div>
      </div>

    </div>
  </div>



  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Team Smashing. Andrew. Ruskin. Anders.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
