<div class="admin-container">
  <div class="row">
    <div class="large-7 columns">
      <h1>Administration Report Detail</h1>
    </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><a href="#" class="button">Issue Keys</a></li>
      <li><a href="#" class="button">Archive</a></li>
      <li><a href="#" class="button">Export to CSV</a></li>
    </ul>
  </div>
</div>

<div class="row" id = "slim">
  <div class="large-12 columns">
    <div id="slider">
      <ul class="orbit" data-orbit>
       <li>
         <div id="chart-div"></div>
       </li>
       <li class="active">
         <div id="bubble-div"</div>
       </li>
       <li>
         <%=image_tag("sample.png" )%>
         <img height = "10">
       </li>
      </ul>
    </div>
    <hr/>
  </div>
</div>



<div class="row">
  <div class="large-4 columns">
    <div class = 'admin-placehold'>
      <h4>Recent Reports<h4>
        <ul >
          <%@latest.each do |event|%>
            <li class= "show-event">
              <%= link_to  "#{event.id}'. '#{event.date} : #{event.details[0..10]}",   show_event_partial_path(event.id), :remote => true%>
            </li>
          <%end%>
        </ul>
      </div>
  </div>

    <div class="large-8 columns">
      <div class = 'admin-placehold2'>
        <div class = "admin-search">
          <%= form_tag search_path, :class => "search-form", :method => 'get', remote:true do %>
          <p>
            <%= text_area_tag :search, params[:search] %>
            <%= submit_tag "Search Reports",:id => "search", :name => nil %>
          </p>
          <% end %>
        </div>
        <div class="report">
          <a href="#" class="button [tiny small large]" id="button-close">Close Search</a>
          <ul class="search-results"></ul>
        </div>
        <div class="show-event-details">

        </div>
      </div>
    </div>



  </div>


  <div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Alert Support Team.</h4>

        <div class="row">
          <div class="large-9 columns">

          </div>
          <div class="large-3 columns">
            <a href="mailto:guidance.counselor@gmail.com?Subject=Help%20Student" class="radius button right"> Send Email</a>
          </div>
        </div>
      </div>

    </div>
  </div>



  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Team Smashing. Andrew. Ruskin. Anders.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Issue Keys</a></li>
            <li><a href="#">Archive</a></li>
            <li><a href="#">Export to CSV</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
