<ul class = "login-boxes">

   <li class="about-shielded">

    <h3>About Shield.ED<h3>
    <h3>Happy Things...</h3>

  </li>

  <li class = "student-parent-login">

    <h3>Student/Parent Login</h3>
    <%= form_tag({:controller => 'sessions', :action => 'process_login'}, { :class => "student-parent-login-form"}) do %>
      <%= label_tag("5 Digit Key: ") %>
      <%= password_field_tag(:password_digest) %>
      <p class = "error"><%=session[:error]%></p>
      <%= submit_tag("login", :class => "button [radius button]")  %>
    <% end %>

  </li>

</ul>


