
    <!-- <iframe class = 'video', src="//player.vimeo.com/video/86275372"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  --><!-- <p><a href="http://vimeo.com/86275372">Scuba Diving Bonaire - Something Special</a> from <a href="http://vimeo.com/drpedro">Pierre Molin</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
 <div class = "all-back">


  <div class="user-login">
    <h1>ShieldED HomePage</h1>
    <h2>Login</h2>
      <%= form_tag :action => 'process_login' do %>
        <%= label_tag(:username, "Username: ") %>
        <%= text_field_tag(:username) %>
      <br>
        <%= label_tag(:password_hash, "Password: ") %>
        <%= password_field_tag(:password_hash) %>
        <p class = "error"><%=session[:error]%></p>
      <br>
        <%= submit_tag("login", :class => "button [radius button]")  %>
    <% end %>
  </div>
</div>
