<div class="event_index">
  <h4>No.<%=@event.id%>, reported on:<%= @event.date %></h4>

  <div class="event_details">
    <h5>Details</h5><p><%= @event.details %></p>
    <h5>Location</h5><p><%= @event.location %></p>
    <h5>Named Offender(s)</h5><p><%= @event.offender %></p>
  </div>

  <div class="event_tags_container" id="<%= @event.id %>" >
    <%= render 'event_tags/this_event_tags', locals: @event %>
  </div>

  <div class="available_tags_container">
    <%= render 'tags/show', locals: @event %>
  </div>

  <button class="right_align">Tag/Untag</button>
</div>
