<div class="event_index">
  <h1>Event Page</h1>

  <p><%= @event.details %></p>

  <div class="event_tags_container" id="<%= @event.id %>" >
    <%= render 'event_tags/this_event_tags', locals: @event %>
  </div>

  <div class="available_tags_container">
    <%= render 'tags/show', locals: @event %>
  </div>

  <button>Confirm New Tags</button>
  <a href="<%=admin_dashboard_url%>" class="right_align">
    <button>Back to Admin Dashboard</button>
  </a>
</div>
