<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>

      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
       google.load("visualization", "1", {packages:["corechart"]});
       </script>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>

      <header>
            <%=image_tag("shield_L-01.png", width: "400")%>
      </header>

  </head>

  <body>

      <div class="navbar">
        <ul class = "home-navbar-links">
          <li>
            <% if !signed_in? %>
              <%= link_to("Login", login_partial_path, class: "Login_Link") %></li>
            <% end %>
            <% if signed_in? %>
              <%= link_to("Logout",logout_path) %>
            <% end %>
          </li>
          <li><a href = "mailto:andrew.mcclellan3@gmail.com">Contact Us</a></li>
          <li> <%= link_to("Report an Incident", , class: "report-event")%></a></li>
          <li><a href = "">Local Resources</a></li>
        </ul>
      </div>

      <%= yield %>

      <%= javascript_include_tag "application" %>

  </body>

  <div class = "placeholder">
    <p>About Shield.ED<p>
  </div>

  <footer>
    <ul>
      <li><a href="#" data-reveal-id="myModal">Admin</a></li>
      <li><p>Copyright 2014</p></li>
    </ul>

      <div id="myModal" class="reveal-modal" data-reveal>
          <h3>Admin Login</h3>
          <%= form_tag({:controller => 'sessions', :action => 'create'}, { :class => "admin-login-form"}) do %>
            <%= label_tag(:username, "Username: ") %>
            <%= text_field_tag(:username) %>
            <%= label_tag(:password_digest, "Password: ") %>
            <%= password_field_tag(:password_digest) %>
            <p class = "error"><%=session[:error]%></p>
            <%= submit_tag("login", :class => "button [radius button]")  %>
          <% end %>
        <a class="close-reveal-modal">&#215;</a>
      </div>

  </footer>
</html>
